<% if object.errors.any? %>
<div class="card error-card">
  <div class="card-body">
    <h2 class="card-title error-card-title">Found Errors While Saving</h2>

    <ul class="panel-body">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

