// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bs-linebreak {
  height: 30px;
}

.error-card {
  margin-bottom: 20px;
}

.error-card-title {
  color: red;
}

